@model ScoreSystem.Template.ClientSideModel

<html>
    <head>
        <link rel="stylesheet" href="./StaticFiles/style.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/seven-segment" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <div class="relative bg-cover bg-[url('https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?auto=compress&cs=tinysrgb&w=5375&h=3583&dpr=1')] w-screen h-screen">
            <div class="absolute w-full h-screen bg-black bg-opacity-50">
                <div class="absolute left-1/2 top-1/2 w-[40vw] text-center -translate-y-1/2 -translate-x-1/2 rounded-md p-5 py-3 bg-white">
                    <div id="title">
                        <p class="text-2xl font-bold"> Midterm </p>
                    </div>
                    <hr />
                    <div id="score">
                        <div class="rounded-md p-5 bg-yellow-500 border-5 border-slate-200 w-fit mx-auto font-['Seven_Segment']">
                            <span class="text-9xl text-white"> 84 </span>
                        </div>
                    </div>
                    <hr />
                    <div id="regular tests">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row gap-2 w-full">
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-purple-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-purple-500 my-auto px-3 text-white font-bold font-mono"> TWA </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-green-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> PASSED </p>
                                    <p class="align-middle my-auto items-baseline text-green-800"> 39 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-red-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-red-500 my-auto px-3 text-white font-bold font-mono"> FAILED </p>
                                    <p class="align-middle my-auto items-baseline text-red-800 w-full"> 1 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-green-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> +23 </p>
                                </div>
                            </div>
                            <div class="flex flex-row gap-2 w-full">
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-purple-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-purple-500 my-auto px-3 text-white font-bold font-mono"> GEO </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-green-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> PASSED </p>
                                    <p class="align-middle my-auto items-baseline text-green-800"> 39 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-red-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-red-500 my-auto px-3 text-white font-bold font-mono"> FAILED </p>
                                    <p class="align-middle my-auto items-baseline text-red-800 w-full"> 1 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-green-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> +23 </p>
                                </div>
                            </div>
                            <div class="flex flex-row gap-2 w-full">
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-purple-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-purple-500 my-auto px-3 text-white font-bold font-mono"> PWN </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-green-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> PASSED </p>
                                    <p class="align-middle my-auto items-baseline text-green-800"> 40 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-green-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> +25 </p>
                                </div>
                            </div>
                            <div class="flex flex-row gap-2 w-full">
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-purple-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-purple-500 my-auto px-3 text-white font-bold font-mono"> TCA </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left border-2 border-green-500 flex felx-row gap-2 w-full">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> PASSED </p>
                                    <p class="align-middle my-auto items-baseline text-green-800"> 40 Tests </p>
                                </div>
                                <div class="p-2 bg-white rounded-md text-left flex border-2 border-green-500 felx-row gap-2 w-fit">
                                    <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> +25 </p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="special tests">
                            <div class="flex flex-col gap-2">
                                <div class="flex flex-row gap-2 w-full">
                                    <div class="p-2 bg-white rounded-md text-left border-2 border-red-500 flex felx-row gap-2 w-full">
                                        <p class="p-1 rounded-md bg-red-500 my-auto px-3 text-white font-bold font-mono"> FAILED </p>
                                        <p class="align-middle my-auto items-baseline text-red-800 w-full"> Memory Leak Test </p>
                                        <p class="p-1 rounded-md bg-red-500 my-auto px-3 text-white font-bold font-mono"> -10pt </p>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2 w-full">
                                    <div class="p-2 bg-white rounded-md text-left border-2 border-green-500 flex felx-row gap-2 w-full">
                                        <p class="p-1 rounded-md bg-green-500 my-auto px-3 text-white font-bold font-mono"> PASSED </p>
                                        <p class="align-middle my-auto items-baseline text-green-800 w-full"> Coverage Test </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>